html, body {
    height: 100%;
  }


body {
    background-image: url(https://i.pinimg.com/originals/f2/19/75/f219759f63ad18c7f581ebd4880a2f0a.jpg);
    background-size: 1660px;
}

/*.title {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: brown;
}*/

.title {
   text-align: center;
   font-size: x-large;
    font-family: 'Russo One', sans-serif;
    text-shadow:
     3px  3px 0 rgb(0, 0, 0),
    -1px -1px 0 rgb(0, 0, 0),  
     1px -1px 0 rgb(0, 0, 0),
    -1px  1px 0 rgb(0, 0, 0),
     1px  1px 0 rgb(0, 0, 0);
  }
  
  @supports (-webkit-text-stroke: 1px black) {
    .title {
      -webkit-text-stroke: 1px black;
      -webkit-text-fill-color: white;
    }
  }